.fade-enter-active, .fade-leave-active {
  transition: opacity 200ms;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.blink-to {
  animation: 300ms infinite alternate blink;
}

.blink-from {
  animation: 100ms infinite alternate-reverse blink;
}

@keyframes blink {
  from {
    border-color:#FFF;
  }
  to {
    border-color:#000;
  }
}
