button {
  text-transform:uppercase;
  scroll-snap-align: start end;
  width:min-content;
  cursor:pointer;
  padding:6px;
  margin:8px;
  font-weight: bold;
  color:#222;
  background-color: hsla(0,0%,100%,0.2);
  border-radius: 12px;
  border:solid 2px #555;
  transition: box-shadow 100ms, background-color 100ms, color 100ms;
}

button.active, button:active {
  background-color: hsla(0,0%,100%,1);
  border-color: #333;
  color:#000;
  box-shadow: inset 0px 2px 1px #888;
}

button:active, button:focus {
  outline: none !important;
}
