.knob {
  scroll-snap-align: start end;
  position:relative;
  cursor: pointer;
  z-index:4;
  max-width:min-content;
  border:2px solid hsla(0,0%,0%,0.4);
  border-radius: 8px;
  font-size:1em;
  margin:4px;
  min-height:2em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  box-shadow: inset 0px -2px 2px 0 hsla(0,0%,100%,0.63), inset 0px 2px 2px 0 hsla(208, 6%, 60%, 0.5);

}

.knob .info {
  text-transform: uppercase;
  position:relative;
  user-select: none;
  padding: 6px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  z-index:4;
  position: relative;
}

.knob .value {
  background-color: hsla(0,0%,95%,1);
  z-index:-1;
  position: absolute;
  border-radius:6px;
  width:100%;
  bottom:0;
}

.knob.active .num {
  opacity:1;
  display:block;
}

.knob .num {
  opacity:0;
  display:none;
  position:absolute;
  padding:4px;
  right:calc(100% + 8px);
  background-color: #fff;
  border-radius: 8px;
  transition: opacity 300ms;
  z-index:6;
}
