.knob {
  position:relative;
  cursor: pointer;
  z-index:4;
  max-width:min-content;
  border:0px solid hsla(0,0%,0%,0.4);
  border-radius: 6px;
  font-size:1em;
  margin:4px;
  min-height:2em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.knob::before {
    content: '';
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border-bottom: 1px solid hsla(0,0%,100%,0.2);
    z-index:-2;
    background-color: hsla(0,0%,0%,0.05);
    top: -3px;
    left: -2px;
    border-radius: 6px;
    transition: all 50ms;
    box-shadow:  inset 0px 1px 3px 0 hsla(208, 6%, 0%, 0.4), inset 0px -1px 3px 0 hsla(0,0%,100%,0.53);
}

.knob .info {
  text-transform: uppercase;
  position:relative;
  user-select: none;
  padding: 6px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  z-index:4;
  position: relative;
}

.knob .value {
  background-color: hsla(0,0%,95%,1);
  border-top: 1px solid hsla(0,0%,0%,0.3);
  left:-1px;
  z-index:-10;
  position: absolute;
  border-radius:4px;
  width:100%;
  bottom:1px;
}

.knob.active .num {
  opacity:1;
  display:block;
}

.knob .num {
  opacity:0;
  display:none;
  position:absolute;
  padding:4px;
  right:calc(100% + 8px);
  background-color: #fff;
  border-radius: 8px;
  transition: opacity 300ms;
  z-index:6;
}

.knob .assigner {
  background-color: hsla(0,0%,50%,0.3);
  border:2px solid #efefef;
  top:-2px;
  left:-2px;
  z-index:-1;
  position: absolute;
  border-radius:6px;
  width:100%;
  height:100%;
  z-index:10;
}

.knob .assigner.cancel {
  border-color:red;
}

/*  DC METER   */

.knob.dc-meter {
  min-width:14px;
  border-radius: 14px;
}

.knob.dc-meter .value {
  background-color: hsla(0,0%,30%,0.5);
  border-radius: 14px;
}
