@import url('sqnob.css');
@import url('buttons.css');
@import url('channel.css');
@import url('transitions.css');
@import url('channels.css');

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

main {
  display:flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

main section {
  flex: 1 1 350px;
}

.row {
  padding: 8px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
