<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Chromatone lab</title>
  <link href="css/styles.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <script src="js/assets/vue.js"></script>
  <script src="js/assets/Tone.js"></script>
  <!-- https://tonejs.github.io/docs/14.6.4/ -->
  <script src="js/assets/color-hash.js"></script>
  <!-- https://github.com/zenozeng/color-hash -->
  <script src="js/assets/Sortable.min.js"></script>
  <script src="js/assets/vuedraggable.umd.min.js"></script>
  <!-- https://github.com/SortableJS/Vue.Draggable -->



<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.chromatone.center"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stat.frkt.ru/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->



</head>

<body>
  <section id="bus">

  </section>
  <section id="lab-app">

    <header class="row">
      <img height="22px" src="images/ct-logo.svg" />
      <div class="spacer">

      </div>
      <knob  v-model="transport.bpm.value" :min="30" :max="240" :step="1">BPM</knob>
      <toggle name="Assign"
        v-model="$bus.assigning"
        :id="$bus.assign.id"
        ></toggle>
    </header>

    <main>
      <channels group="controls"></channels>
      <channels group="sources"></channels>
      <channels group="effects"></channels>
    </main>
  </section>

  <script type="module" src="js/app.js">
  </script>

</body>

</html>
